{% extends 'adminbase.html' %}
{% block content %}
<center><h2 style="color: crimson;">Administrative Dashboard</h2></center>
    <br>
    <br>
    <center>
        <a href="validateuser" class="btn btn-primary">User Validation</a>
        {% comment %} <a href="editusers" class="btn btn-success">Edit Users</a> {% endcomment %}
        <br><br>
        <a href="logout" class="btn btn-danger" style="width:100px">Sign-Out</a>

    </center>
<!-- <table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
    <th>User ID</th>
    <th>UserName</th>
    <th>Password</th>
    <th>Role</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Mobile</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for login in logins %}
    <tr>
    <td>{{ login.userid }}</td>
    <td>{{ login.username }}</td>
    <td>{{ login.password }}</td>
    <td>{{ login.role }}</td>
    <td>{{ login.firstname }}</td>
    <td>{{ login.lastname }}</td>
    <td>{{ login.mobile }}</td>
    <td>
    <a href="/editlogin/{{ login.userid }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
    <a href="/deletelogin/{{ login.userid }}"><span class="glyphicon glyphicon-remove"></span>Delete</a>
    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
    <br>
    <center><a href="/signup" class="btn btn-primary">Add New Record</a></center> -->

{% endblock %}