<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>NOVAL STEGNOGRAPHY</title>

    <nav class="navbar navbar-inverse"> 
        <div class="container-fluid"> 
            <div class="navbar-header"> 
                <a class="navbar-brand" href="#">NOVAL STEGNOGRAPHY</a> 
            </div> 
            <ul class="nav navbar-nav"> 
                <li class="active"><a href="home">Home</a></li> 
                 
            </ul> 
        </div> 
    </nav>
</head>
<body>
    <div class="container-fluid">
        {% load static %}
        <img src="{% static 'sale.png' %}" alt="person image" style="width:1500px"/>
        </div>
        <div class="container">
    {% block content %}
    {% endblock %}
    <br>
    <div style="background-color: rgb(23, 5, 221);">&nbsp;</div>
    </div>
</body>
</html>