{% extends 'userbase.html' %}
{% block content %}

<form method="POST" action="/updatepassword">
    {% csrf_token %}
    <center><h2 style="color:brown">Change Password</h2></center>
        <div class="form-group">
            <label for="password">Enter Current Password: </label>
            <input type="password" name="password" style="max-width: 300px"  class="form-control"/>
        </div>
        <div class="form-group">
            <label for="newpassword">Enter New Password: </label>
            <input type="password" name="newpassword" style="max-width: 300px"  class="form-control"/>
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm New Password: </label>
            <input type="password" name="confirmpassword" style="max-width: 300px"  class="form-control"/>
        </div>
        
        <button type="submit" class="btn btn-primary">Change Password</button> <span style="color: red;">{{errmsg}}</span>
</form>

    
    

{% endblock %}