{% extends 'userbase.html' %}
{% block content %}
<center><h2 style="color: crimson;">Customers Dashboard</h2></center>
<br>
    <br>
    <center>
        <a href="editprofile" class="btn btn-success">Edit Profile</a>
        <a href="changepassword" class="btn btn-warning">Change Password</a>
        <a href="hide" class="btn btn-success">encrypt message </a>
        <a href="decrypt" class="btn btn-success">Enter message</a>
        
        <br><br>
        <a href="logout" class="btn btn-danger" style="width:100px">Sign-Out</a>

    </center>
{% endblock %}